main {background-color: #9e6fb3;}
footer {background-color: #824e99;}
footer {color: white;}
header {background-color: #824e99; }
header {color: white;}
body {background-color:#eacdf7; }
nav {background-color: #611185;}
a {color:white;}
